/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

button {
	background-color: transparent;
	border: none;
}

/* Generics */

body {
	background-color: #f6f8f9;
	font-family: Arial, Helvetica, sans-serif;
}

/* Utils */

.container {
	max-width: 80%;
	width: 800px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	padding: 8px;
	background-color: #fff;
	border: 1px solid currentColor;
	color: #222;
	border-radius: 5px;
	cursor:pointer;
	text-decoration: none;
	font-size: 14px;

}

.btn.btn-primary {
	color: #fff;
	border: 1px solid #47adf1;
	background-color: #47adf1;
}

.btn.btn-outline {
	color: #444;
	background-color: transparent;
}

/* Colors */

.bg-editorial {
	background-color: #45abea;
}

.bg-goals {
	background-color: #9a70e3;
}

.bg-recruiting {
	background-color: #62bea7;
}

.bg-mobile {
	background-color: #f09c32;
}

.bg-website {
	background-color: #d6619f;
}

.bg-sales {
	background-color: #afc825;
}

/* Header */

.top-bar {
	background-color: #fff;
	height: 100px;
	line-height: 100px;
	margin-bottom: 50px;
}

.header-title {
	vertical-align: middle;
	display: inline;
	font-size: 36px;
}

#logo {
	margin-left: 15px;
	vertical-align: middle;
}

/* Card */

.card {
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

.card-head {
	padding: 15px 50px;
	border-bottom: 2px solid #eee;
}

.card-body {
	padding: 15px 50px;
}

/* Lists */

.list-heading {
	margin-top: 25px;
}

.list-heading::before {
	content: '\25BE';
}

.list-item {
	height: 20px;
	line-height: 20px;
	margin: 10px 0 20px 0;
}
.list-item > * {
	vertical-align: middle;
}

.list-item::before {
	display: inline-block;
	border: 1px solid currentColor;
	font-size: 12px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
	font-weight: bold;
	margin-right: 10px;
}

.list-item.check::before {
	content: '\2714';
	color: #61c0a9;
}

.list-item.uncheck::before {
	content: '\2718';
	color: #e7372f;
}

.label {
	display: inline-block;
	padding: 2px 8px;
	font-size: 11px;
	color: #fff;
	border-radius: 10px;
}